@media (min-width: 768px) {
  .about-me-image {
    display: flex;
    justify-content: center;
  }

  .faqs {
    display: flex;
    flex-direction: row;
    /* gap: 100px; */
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 60px;
  }

  .faqs-left {
    width: 50%;
  }

  .faqs-right {
    width: 50%;
  }

  .faqs-heading {
    font-size: 50px;
    line-height: 1.5;
  }

  .faqImage-2 {
    position: relative;
    bottom: 120px;
    left: 140px;
  }
}
