li::before {
  content: "✓";
  color: #c9f31d;
  font-size: 1.5rem;
  margin-right: 12px;
  margin-top: 2px;
  line-height: 1;
}

.header-list li::before {
  content: "";
}

.pricing-card:hover .pricing-card-btn {
  background-color: #c9f31d;
  color: black;
  opacity: 1;
}

.footer-signup-btn:hover {
  background-color: #c9f31d;
  color: black;
  opacity: 1;
}

.header-list li {
  transition: color 0.3s ease;
}

.header-list li:hover {
  color: #c9f31d;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10;
    padding: 0 0.75rem;
    margin-top: 10rem;
  }
  .hero-left {
    width: 33%;
    order: 1;
  }

  .hero-middle {
    width: 25%;
    order: 3;
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    right: -40px;
    max-width: 265px;
  }
  .hero-right {
    width: 40%;
    order: 2;
    border: none;
  }

  .hero-image {
    /* width: 100%; */
    /* height: 100%;  */
    object-fit: cover;
    display: flex;
    justify-content: center;
    object-position: top;
    position: relative;
    top: 40px;
    left: 40px;
  }

  .circle {
    position: absolute;
    height: 500px;
    width: 500px;
    left: 27px;
  }

  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    margin-top: 10rem;
  }

  .about-me-left {
    width: 60%;
    order: 1;
  }
  .about-me-right {
    width: 40%;
    order: 2;
  }

  .about-me-image {
    width: 100%;
    height: 100%;
  }

  .about-me-btn1 {
    position: absolute;
    /* top: 50px;    */
    bottom: 240px;
    left: 35px;
  }

  .about-me-btn2 {
    position: absolute;

    bottom: 150px;

    left: 10px;
  }

  .about-me-left-middle-list {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    align-items: flex-start;
  }

  .about-me-left-bottom {
    display: flex;
    flex-direction: row;
    /* gap: 50px; */
    justify-content: space-between;
    width: 80%;
  }

  .resume {
    display: flex;
    flex-direction: row;
    padding: 0 60px;
  }

  .resume-left {
    width: 30%;
  }

  .resume-right {
    width: 70%;
  }

  .resume-right-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    align-content: start;
    position: relative;
  }

  .resume-right-bottom-border {
    display: block;
    width: 1.5px;
    height: 280px;
    background-color: #ffffff99;
    opacity: 0.3;
    position: absolute;
    /* top: 0 */
    left: 45%;
  }

  .services-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .service-heading {
    font-size: 45px;
    width: 50%;
    margin: auto;
    line-height: 1.45;
  }

  .service-item {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s ease;
    border: 2px solid transparent;
    box-sizing: border-box;
  }

  .service-item:hover {
    border-color: #c9f31d;
  }

  .service-item-circle {
    transition: all 0.3s ease;
  }
  .service-item:hover .service-item-circle {
    background-color: #c9f31d;
    opacity: 1;
    color: black;
  }

  .skills {
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 30px;
  }

  .skills-left {
    width: 40%;
  }
  .skills-right {
    width: 60%;
  }

  .skills-heading {
    font-size: 45px;
  }

  .mywork {
    margin-top: 5rem;
  }

  .mywork-heading {
    font-size: 45px;
    line-height: 1.45;
  }

  .work-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .work-card img {
    width: 50%;
  }

  .work-card2,
  .work-card4 {
    flex-direction: row-reverse;
  }

  .pricing-heading {
    font-size: 45px;
  }

  .pricing-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .pricing-card {
    width: 25%;
    /* height: 15rem; */
  }

  .pricing-card-btn {
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }

  .getin {
    display: flex;
    flex-direction: row;

    padding: 0 60px;
    gap: 40px;
  }

  .getin-left {
    width: 40%;
  }

  .getin-left-heading {
    font-size: 45px;
  }

  .getin-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .getin-right-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }

  .textarea {
    width: 600px;
  }

  .news {
    padding: 0 60px;
  }

  .news-heading {
    font-size: 45px;
    line-height: 1.45;
  }

  .cards-news {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .card-news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .clients {
    margin-top: 10rem;
    padding: 0 60px;
  }

  .client-heading {
    font-size: 30px;
  }

  .client {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin-top: 4rem;
  }

  .client img {
    height: 80px;
    width: 204px;
    object-fit: contain;
    transition: opacity 0.3s ease;
  }

  .client img:hover {
    opacity: 1;
  }

  .footer {
    padding: 72px 60px;
  }

  .footer-img {
    object-fit: contain;
  }

  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* 
  .footer-mid{
    display: flex;
    flex-direction: column;
  } */

  .footer-signup-btn {
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }
}
